# Зависимости
/vendor
node_modules/
package-lock.json
# composer.lock не должен игнорироваться

# Логи
*.log

# Окружение Laravel
.env
.env.backup
.env.production
.env.example
.phpunit.result.cache
/storage/*.key
/storage/app/public/*
/storage/pail
/public/hot
/public/storage
/public/build
Homestead.json
Homestead.yaml

# IDE и редакторы
/.idea
/.vscode
/.cursor/
/.nova
/.zed
/.phpunit.cache
.phpactor.json
_ide_helper.php
*.sublime-project
*.sublime-workspace
/auth.json

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml